PORT=3000
KEYCLOAK_URL=https://oauth2.qa.comsatel.com.pe
KEYCLOAK_REALM=Apps
KEYCLOAK_CLIENT_ID=backoffice-bff
KEYCLOAK_CLIENT_SECRET=<get-from-keycloak-admin>
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
BACKEND_URL=http://localhost:8000
INTERNAL_SECRET=dev-internal-secret-change-in-prod
