PORT=3000
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=backoffice
KEYCLOAK_CLIENT_ID=backoffice-bff
KEYCLOAK_CLIENT_SECRET=<get-from-keycloak-admin>
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
